In [2]:
import pandas as pd

In [3]:
# 1 & 2 - Reading the csv file
df = pd.read_csv("lab1_data.csv", sep=";")
print(df)

          id             name          price currency  created_at
0   SKU-1001           shoes             799      SEK  2024-01-10
1   SKU-1002            pants            520      SEK  2024/02/15
2   SKU-1003           shirts            450      SEK         NaN
3        NaN           jacket           -200     SEK   2024-13-01
4   SKU-1005              NaN            NaN      NaN
5   SKU-1006    designer coat            NaN      SEK  2024-05-01
6        NaN              hat           free      SEK         NaN
7   SKU-1008          gloves             120      NaN  2024-06-20
8   SKU-1009            socks             99      SEK  2024-02-01
9   SKU-1010            boots           1500      SEK  2024-02-15
10  SKU-1011            scarf            200      SEK  2024-03-01
11  SKU-1012             belt            300      SEK  2024/03/10
12  SKU-1013              cap             75      SEK  2024-04-01
13  SKU-1014          t-shirt              0      SEK  2024-04-10
14  SKU-1015           hoodie            -50      SEK  2024-04-15
15  SKU-1016             coat           2500      SEK  2024-05-01
16  SKU-1017            jeans            800      SEK  2024-05-05
17  SKU-1018         sneakers           1200      SEK  2024-05-10
18  SKU-1019          sandals            400      SEK  2024-05-15
19  SKU-1020            watch          15000      SEK  2024-06-01
20  SKU-1021             ring          25000      SEK  2024-06-05
21  SKU-1022         bracelet            500      SEK  2024-06-10
22  SKU-1023        necklace             650      SEK  2024-06-15
23  SKU-1024       sunglasses            900      SEK  2024-07-01
24  SKU-1025         backpack           1100      SEK  2024-07-05
25  SKU-1026         umbrella            300      SEK  2024-07-10
26  SKU-1027   winter jacket            3500      SEK  2024-07-15
27  SKU-1028           shorts            450      SEK  2024-08-01
28  SKU-1029            skirt            500      SEK  2024-08-05
29  SKU-1030           gloves            200      SEK  2024-08-10
30  SKU-1031          mittens            220      SEK  2024-08-15
31  SKU-1032             suit           5000      SEK  2024-09-01
32  SKU-1033              tie            150      SEK  2024-09-05
33  SKU-1034           blazer           2200      SEK  2024-09-10
34  SKU-1035             polo            600      SEK  2024-09-15
35  SKU-1036         leggings            350      SEK  2024-10-01
36  SKU-1037        tracksuit           1200      SEK  2024-10-05
37  SKU-1038         swimsuit            700      SEK  2024-10-10
38  SKU-1039             coat         999999      SEK  2024-10-15
39  SKU-1040            parka           4500      SEK  2024-11-01
40  SKU-1041           beanie            180      SEK  2024-11-05
41  SKU-1042         earmuffs            130      SEK  2024-11-10
42  SKU-1043         cardigan            NaN      SEK  2024-11-15
43  SKU-1044             vest            800      SEK  2024-12-01
44  SKU-1045          loafers           1100      SEK  2024-12-05
45  SKU-1046        sneakers            1000      SEK  2024-12-10
46  SKU-1047            heels           1500      SEK  2024-12-15
47  SKU-1048        flipflops            100      SEK  2024-12-20
48  SKU-1049             robe            900      SEK  2024-12-25
49  SKU-1050          pyjamas            600      SEK  2025-01-01
50  SKU-1051       suspenders            250      SEK  2025-01-05
51  SKU-1052             coat  not_available      SEK  2025-01-10
52  SKU-1053              cap             85      SEK  2025-01-15
53  SKU-1054              NaN            450      SEK  2025-02-01
54  SKU-1055            scarf            300      NaN  2025-02-05

In [ ]:
# 3 - DATA PREPARATION

In [5]:
# Removing white spaces 
dirty_df = df
dirty_df[["id", "name", "price", "currency", "created_at"]] = dirty_df[["id", "name", "price", "currency", "created_at"]].apply(lambda x: x.str.strip())
dirty_df

          id           name          price currency  created_at
0   SKU-1001          shoes            799      SEK  2024-01-10
1   SKU-1002          pants            520      SEK  2024/02/15
2   SKU-1003         shirts            450      SEK         NaN
3        NaN         jacket           -200      SEK  2024-13-01
4   SKU-1005            NaN            NaN      NaN
5   SKU-1006  designer coat            NaN      SEK  2024-05-01
6        NaN            hat           free      SEK         NaN
7   SKU-1008         gloves            120      NaN  2024-06-20
8   SKU-1009          socks             99      SEK  2024-02-01
9   SKU-1010          boots           1500      SEK  2024-02-15
10  SKU-1011          scarf            200      SEK  2024-03-01
11  SKU-1012           belt            300      SEK  2024/03/10
12  SKU-1013            cap             75      SEK  2024-04-01
13  SKU-1014        t-shirt              0      SEK  2024-04-10
14  SKU-1015         hoodie            -50      SEK  2024-04-15
15  SKU-1016           coat           2500      SEK  2024-05-01
16  SKU-1017          jeans            800      SEK  2024-05-05
17  SKU-1018       sneakers           1200      SEK  2024-05-10
18  SKU-1019        sandals            400      SEK  2024-05-15
19  SKU-1020          watch          15000      SEK  2024-06-01
20  SKU-1021           ring          25000      SEK  2024-06-05
21  SKU-1022       bracelet            500      SEK  2024-06-10
22  SKU-1023       necklace            650      SEK  2024-06-15
23  SKU-1024     sunglasses            900      SEK  2024-07-01
24  SKU-1025       backpack           1100      SEK  2024-07-05
25  SKU-1026       umbrella            300      SEK  2024-07-10
26  SKU-1027  winter jacket           3500      SEK  2024-07-15
27  SKU-1028         shorts            450      SEK  2024-08-01
28  SKU-1029          skirt            500      SEK  2024-08-05
29  SKU-1030         gloves            200      SEK  2024-08-10
30  SKU-1031        mittens            220      SEK  2024-08-15
31  SKU-1032           suit           5000      SEK  2024-09-01
32  SKU-1033            tie            150      SEK  2024-09-05
33  SKU-1034         blazer           2200      SEK  2024-09-10
34  SKU-1035           polo            600      SEK  2024-09-15
35  SKU-1036       leggings            350      SEK  2024-10-01
36  SKU-1037      tracksuit           1200      SEK  2024-10-05
37  SKU-1038       swimsuit            700      SEK  2024-10-10
38  SKU-1039           coat         999999      SEK  2024-10-15
39  SKU-1040          parka           4500      SEK  2024-11-01
40  SKU-1041         beanie            180      SEK  2024-11-05
41  SKU-1042       earmuffs            130      SEK  2024-11-10
42  SKU-1043       cardigan            NaN      SEK  2024-11-15
43  SKU-1044           vest            800      SEK  2024-12-01
44  SKU-1045        loafers           1100      SEK  2024-12-05
45  SKU-1046       sneakers           1000      SEK  2024-12-10
46  SKU-1047          heels           1500      SEK  2024-12-15
47  SKU-1048      flipflops            100      SEK  2024-12-20
48  SKU-1049           robe            900      SEK  2024-12-25
49  SKU-1050        pyjamas            600      SEK  2025-01-01
50  SKU-1051     suspenders            250      SEK  2025-01-05
51  SKU-1052           coat  not_available      SEK  2025-01-10
52  SKU-1053            cap             85      SEK  2025-01-15
53  SKU-1054            NaN            450      SEK  2025-02-01
54  SKU-1055          scarf            300      NaN  2025-02-05

In [6]:
# Dates format
dirty_df["created_at"] = pd.to_datetime(dirty_df["created_at"], errors='coerce')
dirty_df

          id           name          price currency created_at
0   SKU-1001          shoes            799      SEK 2024-01-10
1   SKU-1002          pants            520      SEK        NaT
2   SKU-1003         shirts            450      SEK        NaT
3        NaN         jacket           -200      SEK        NaT
4   SKU-1005            NaN            NaN      NaN        NaT
5   SKU-1006  designer coat            NaN      SEK 2024-05-01
6        NaN            hat           free      SEK        NaT
7   SKU-1008         gloves            120      NaN 2024-06-20
8   SKU-1009          socks             99      SEK 2024-02-01
9   SKU-1010          boots           1500      SEK 2024-02-15
10  SKU-1011          scarf            200      SEK 2024-03-01
11  SKU-1012           belt            300      SEK        NaT
12  SKU-1013            cap             75      SEK 2024-04-01
13  SKU-1014        t-shirt              0      SEK 2024-04-10
14  SKU-1015         hoodie            -50      SEK 2024-04-15
15  SKU-1016           coat           2500      SEK 2024-05-01
16  SKU-1017          jeans            800      SEK 2024-05-05
17  SKU-1018       sneakers           1200      SEK 2024-05-10
18  SKU-1019        sandals            400      SEK 2024-05-15
19  SKU-1020          watch          15000      SEK 2024-06-01
20  SKU-1021           ring          25000      SEK 2024-06-05
21  SKU-1022       bracelet            500      SEK 2024-06-10
22  SKU-1023       necklace            650      SEK 2024-06-15
23  SKU-1024     sunglasses            900      SEK 2024-07-01
24  SKU-1025       backpack           1100      SEK 2024-07-05
25  SKU-1026       umbrella            300      SEK 2024-07-10
26  SKU-1027  winter jacket           3500      SEK 2024-07-15
27  SKU-1028         shorts            450      SEK 2024-08-01
28  SKU-1029          skirt            500      SEK 2024-08-05
29  SKU-1030         gloves            200      SEK 2024-08-10
30  SKU-1031        mittens            220      SEK 2024-08-15
31  SKU-1032           suit           5000      SEK 2024-09-01
32  SKU-1033            tie            150      SEK 2024-09-05
33  SKU-1034         blazer           2200      SEK 2024-09-10
34  SKU-1035           polo            600      SEK 2024-09-15
35  SKU-1036       leggings            350      SEK 2024-10-01
36  SKU-1037      tracksuit           1200      SEK 2024-10-05
37  SKU-1038       swimsuit            700      SEK 2024-10-10
38  SKU-1039           coat         999999      SEK 2024-10-15
39  SKU-1040          parka           4500      SEK 2024-11-01
40  SKU-1041         beanie            180      SEK 2024-11-05
41  SKU-1042       earmuffs            130      SEK 2024-11-10
42  SKU-1043       cardigan            NaN      SEK 2024-11-15
43  SKU-1044           vest            800      SEK 2024-12-01
44  SKU-1045        loafers           1100      SEK 2024-12-05
45  SKU-1046       sneakers           1000      SEK 2024-12-10
46  SKU-1047          heels           1500      SEK 2024-12-15
47  SKU-1048      flipflops            100      SEK 2024-12-20
48  SKU-1049           robe            900      SEK 2024-12-25
49  SKU-1050        pyjamas            600      SEK 2025-01-01
50  SKU-1051     suspenders            250      SEK 2025-01-05
51  SKU-1052           coat  not_available      SEK 2025-01-10
52  SKU-1053            cap             85      SEK 2025-01-15
53  SKU-1054            NaN            450      SEK 2025-02-01
54  SKU-1055          scarf            300      NaN 2025-02-05

In [7]:
# From INTEGER ---> FLOAT
dirty_df["price"] = pd.to_numeric(dirty_df["price"], errors="coerce")
dirty_df

# index 3 and 14: neg price
# index 13: free ---> 0.0

          id           name     price currency created_at
0   SKU-1001          shoes     799.0      SEK 2024-01-10
1   SKU-1002          pants     520.0      SEK        NaT
2   SKU-1003         shirts     450.0      SEK        NaT
3        NaN         jacket    -200.0      SEK        NaT
4   SKU-1005            NaN       NaN      NaN        NaT
5   SKU-1006  designer coat       NaN      SEK 2024-05-01
6        NaN            hat       NaN      SEK        NaT
7   SKU-1008         gloves     120.0      NaN 2024-06-20
8   SKU-1009          socks      99.0      SEK 2024-02-01
9   SKU-1010          boots    1500.0      SEK 2024-02-15
10  SKU-1011          scarf     200.0      SEK 2024-03-01
11  SKU-1012           belt     300.0      SEK        NaT
12  SKU-1013            cap      75.0      SEK 2024-04-01
13  SKU-1014        t-shirt       0.0      SEK 2024-04-10
14  SKU-1015         hoodie     -50.0      SEK 2024-04-15
15  SKU-1016           coat    2500.0      SEK 2024-05-01
16  SKU-1017          jeans     800.0      SEK 2024-05-05
17  SKU-1018       sneakers    1200.0      SEK 2024-05-10
18  SKU-1019        sandals     400.0      SEK 2024-05-15
19  SKU-1020          watch   15000.0      SEK 2024-06-01
20  SKU-1021           ring   25000.0      SEK 2024-06-05
21  SKU-1022       bracelet     500.0      SEK 2024-06-10
22  SKU-1023       necklace     650.0      SEK 2024-06-15
23  SKU-1024     sunglasses     900.0      SEK 2024-07-01
24  SKU-1025       backpack    1100.0      SEK 2024-07-05
25  SKU-1026       umbrella     300.0      SEK 2024-07-10
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15
27  SKU-1028         shorts     450.0      SEK 2024-08-01
28  SKU-1029          skirt     500.0      SEK 2024-08-05
29  SKU-1030         gloves     200.0      SEK 2024-08-10
30  SKU-1031        mittens     220.0      SEK 2024-08-15
31  SKU-1032           suit    5000.0      SEK 2024-09-01
32  SKU-1033            tie     150.0      SEK 2024-09-05
33  SKU-1034         blazer    2200.0      SEK 2024-09-10
34  SKU-1035           polo     600.0      SEK 2024-09-15
35  SKU-1036       leggings     350.0      SEK 2024-10-01
36  SKU-1037      tracksuit    1200.0      SEK 2024-10-05
37  SKU-1038       swimsuit     700.0      SEK 2024-10-10
38  SKU-1039           coat  999999.0      SEK 2024-10-15
39  SKU-1040          parka    4500.0      SEK 2024-11-01
40  SKU-1041         beanie     180.0      SEK 2024-11-05
41  SKU-1042       earmuffs     130.0      SEK 2024-11-10
42  SKU-1043       cardigan       NaN      SEK 2024-11-15
43  SKU-1044           vest     800.0      SEK 2024-12-01
44  SKU-1045        loafers    1100.0      SEK 2024-12-05
45  SKU-1046       sneakers    1000.0      SEK 2024-12-10
46  SKU-1047          heels    1500.0      SEK 2024-12-15
47  SKU-1048      flipflops     100.0      SEK 2024-12-20
48  SKU-1049           robe     900.0      SEK 2024-12-25
49  SKU-1050        pyjamas     600.0      SEK 2025-01-01
50  SKU-1051     suspenders     250.0      SEK 2025-01-05
51  SKU-1052           coat       NaN      SEK 2025-01-10
52  SKU-1053            cap      85.0      SEK 2025-01-15
53  SKU-1054            NaN     450.0      SEK 2025-02-01
54  SKU-1055          scarf     300.0      NaN 2025-02-05

In [8]:
# 4 - Flagging the Nan or Nat 
checked_columns = ["id", "name", "price", "currency", "created_at"]
dirty_df["is_flagged"] = dirty_df[checked_columns].isna().any(axis=1)|(dirty_df["price"] < 0)
dirty_df

          id           name     price currency created_at  is_flagged
0   SKU-1001          shoes     799.0      SEK 2024-01-10       False
1   SKU-1002          pants     520.0      SEK        NaT        True
2   SKU-1003         shirts     450.0      SEK        NaT        True
3        NaN         jacket    -200.0      SEK        NaT        True
4   SKU-1005            NaN       NaN      NaN        NaT        True
5   SKU-1006  designer coat       NaN      SEK 2024-05-01        True
6        NaN            hat       NaN      SEK        NaT        True
7   SKU-1008         gloves     120.0      NaN 2024-06-20        True
8   SKU-1009          socks      99.0      SEK 2024-02-01       False
9   SKU-1010          boots    1500.0      SEK 2024-02-15       False
10  SKU-1011          scarf     200.0      SEK 2024-03-01       False
11  SKU-1012           belt     300.0      SEK        NaT        True
12  SKU-1013            cap      75.0      SEK 2024-04-01       False
13  SKU-1014        t-shirt       0.0      SEK 2024-04-10       False
14  SKU-1015         hoodie     -50.0      SEK 2024-04-15        True
15  SKU-1016           coat    2500.0      SEK 2024-05-01       False
16  SKU-1017          jeans     800.0      SEK 2024-05-05       False
17  SKU-1018       sneakers    1200.0      SEK 2024-05-10       False
18  SKU-1019        sandals     400.0      SEK 2024-05-15       False
19  SKU-1020          watch   15000.0      SEK 2024-06-01       False
20  SKU-1021           ring   25000.0      SEK 2024-06-05       False
21  SKU-1022       bracelet     500.0      SEK 2024-06-10       False
22  SKU-1023       necklace     650.0      SEK 2024-06-15       False
23  SKU-1024     sunglasses     900.0      SEK 2024-07-01       False
24  SKU-1025       backpack    1100.0      SEK 2024-07-05       False
25  SKU-1026       umbrella     300.0      SEK 2024-07-10       False
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15       False
27  SKU-1028         shorts     450.0      SEK 2024-08-01       False
28  SKU-1029          skirt     500.0      SEK 2024-08-05       False
29  SKU-1030         gloves     200.0      SEK 2024-08-10       False
30  SKU-1031        mittens     220.0      SEK 2024-08-15       False
31  SKU-1032           suit    5000.0      SEK 2024-09-01       False
32  SKU-1033            tie     150.0      SEK 2024-09-05       False
33  SKU-1034         blazer    2200.0      SEK 2024-09-10       False
34  SKU-1035           polo     600.0      SEK 2024-09-15       False
35  SKU-1036       leggings     350.0      SEK 2024-10-01       False
36  SKU-1037      tracksuit    1200.0      SEK 2024-10-05       False
37  SKU-1038       swimsuit     700.0      SEK 2024-10-10       False
38  SKU-1039           coat  999999.0      SEK 2024-10-15       False
39  SKU-1040          parka    4500.0      SEK 2024-11-01       False
40  SKU-1041         beanie     180.0      SEK 2024-11-05       False
41  SKU-1042       earmuffs     130.0      SEK 2024-11-10       False
42  SKU-1043       cardigan       NaN      SEK 2024-11-15        True
43  SKU-1044           vest     800.0      SEK 2024-12-01       False
44  SKU-1045        loafers    1100.0      SEK 2024-12-05       False
45  SKU-1046       sneakers    1000.0      SEK 2024-12-10       False
46  SKU-1047          heels    1500.0      SEK 2024-12-15       False
47  SKU-1048      flipflops     100.0      SEK 2024-12-20       False
48  SKU-1049           robe     900.0      SEK 2024-12-25       False
49  SKU-1050        pyjamas     600.0      SEK 2025-01-01       False
50  SKU-1051     suspenders     250.0      SEK 2025-01-05       False
51  SKU-1052           coat       NaN      SEK 2025-01-10        True
52  SKU-1053            cap      85.0      SEK 2025-01-15       False
53  SKU-1054            NaN     450.0      SEK 2025-02-01        True
54  SKU-1055          scarf     300.0      NaN 2025-02-05        True

In [18]:
# 5 - Avvisa omjliga vrden 
rejected_condition = ( 
    (dirty_df["id"].isna()) | 
    (dirty_df["price"] < 0) | 
    (dirty_df)["price"].isna() |
    ( dirty_df["currency"].isna()) 
    )

rejected_df = dirty_df[rejected_condition].copy()
accepted_df = dirty_df[~rejected_condition].copy()

In [19]:
rejected_df

# pdf 6 sida 52 reject nr obligatoriskt flt saknas = currency 
# pris at 0.0 is not an issue as string was "free"
# outliers --->  flagged

          id           name  price currency created_at  is_flagged
3        NaN         jacket -200.0      SEK        NaT        True
4   SKU-1005            NaN    NaN      NaN        NaT        True
5   SKU-1006  designer coat    NaN      SEK 2024-05-01        True
6        NaN            hat    NaN      SEK        NaT        True
7   SKU-1008         gloves  120.0      NaN 2024-06-20        True
14  SKU-1015         hoodie  -50.0      SEK 2024-04-15        True
42  SKU-1043       cardigan    NaN      SEK 2024-11-15        True
51  SKU-1052           coat    NaN      SEK 2025-01-10        True
54  SKU-1055          scarf  300.0      NaN 2025-02-05        True

In [11]:
# accepted_df - uncomment if needed

In [12]:
# 6 - analytics_summary preparation with utlity methods
# From accepted_df
analytics = {
    "snitpris" : [accepted_df['price'].mean().round()],
    "medianpris" : [accepted_df['price'].median()],
    "antal_produkter" : [len(accepted_df)],
    "antal_produkter_inget_pris" : [accepted_df['price'].isna().sum()],
    }
analytics

{'snitpris': [np.float64(23456.0)],
 'medianpris': [np.float64(600.0)],
 'antal_produkter': [46],
 'antal_produkter_inget_pris': [np.int64(0)]}

In [13]:
# From dict ---> DataFrame
analytics_summary = pd.DataFrame(analytics)
analytics_summary.to_csv("analytics_summary.csv", index=False)
print("analytics_summary skapad:")

analytics_summary skapad:

In [14]:
# price_analysis.csv - Top 10 dyraste produkter
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html
p_analyis = pd.DataFrame(accepted_df).sort_values(by=["price"], ascending=False).head(10)
p_analyis

          id           name     price currency created_at  is_flagged
38  SKU-1039           coat  999999.0      SEK 2024-10-15       False
20  SKU-1021           ring   25000.0      SEK 2024-06-05       False
19  SKU-1020          watch   15000.0      SEK 2024-06-01       False
31  SKU-1032           suit    5000.0      SEK 2024-09-01       False
39  SKU-1040          parka    4500.0      SEK 2024-11-01       False
26  SKU-1027  winter jacket    3500.0      SEK 2024-07-15       False
15  SKU-1016           coat    2500.0      SEK 2024-05-01       False
33  SKU-1034         blazer    2200.0      SEK 2024-09-10       False
9   SKU-1010          boots    1500.0      SEK 2024-02-15       False
46  SKU-1047          heels    1500.0      SEK 2024-12-15       False

In [15]:
# Top 10 produkter med mest avvikande pris 
accepted_df.describe()

               price                     created_at
count      46.000000                             43
mean    23455.586957  2024-08-15 01:06:58.604651264
min         0.000000            2024-01-10 00:00:00
25%       262.500000            2024-06-03 00:00:00
50%       600.000000            2024-08-15 00:00:00
75%      1175.000000            2024-11-07 12:00:00
max    999999.000000            2025-02-01 00:00:00
std    147243.345589                            NaN

In [16]:
# avvikande pris
# accepted_df['price'].median()
# accepted_df['outliers'] = (accepted_df['price'] - median_price).abs()
# needs .copy() mayeb not to chnage the source accepted_df
# top_10_outliers = accepted_df.nlargest(10, 'outliers')

In [17]:
accepted_df.describe()

               price                     created_at
count      46.000000                             43
mean    23455.586957  2024-08-15 01:06:58.604651264
min         0.000000            2024-01-10 00:00:00
25%       262.500000            2024-06-03 00:00:00
50%       600.000000            2024-08-15 00:00:00
75%      1175.000000            2024-11-07 12:00:00
max    999999.000000            2025-02-01 00:00:00
std    147243.345589                            NaN